<p>
  data-binding works!
</p>


<div>
  <div>
    Angular поддерживает механизм привязки данных, благодаря которому различные части шаблона могут быть привязаны к некоторым
    значениям, определенным в компоненте. В Angular есть четыре формы привязки данных: Привязка элемента DOM к значению компонента
    (односторонняя). В двойных фигурных скобках указывается выражение, к которому идет привязка:. Например:
    <h1>Добро пожаловать {{name}}!</h1>
  </div>
  <br/>
  <div>
    Привязка свойства элемента html к значению компонента (односторонняя). Например:
    <input type="text" [value]="valueName" />
    <p>{{valueName}}</p>
  </div>
  <br/>
  <div>
    Привязка метода компонента к событию в DOM (генерация события в DOM вызывает метод на компоненте)(односторонняя). Например:
    <p>Количество кликов {{count}}</p>
    <button (click)="increase()">Click</button>
    <br/> Мы также можем передавать информацию о событии через объект $event:
    <button (click)="increaseWithEvent($event)">Click</button>
  </div>
  <br/>
  <div>
    <h3>Двусторонняя привязка</h3>
    Двусторонняя привязка, когда элемент DOM привязан к значению на компоненте, при этом изменения на одном конце привязки сразу
    приводят к изменениям на другом конце. Например:
    <br/>
    <p>Привет {{twoWayBindingName}}</p>
    <input [(ngModel)]="twoWayBindingName">
    <br/> Для ее создания применяется выражение [(ngModel)]="выражение".
  </div>
</div>